eureka:
  instance:
    hostname: 127.0.0.1

  client:
    service-url:
      #高可用实现方案：eureka之间两两相互注册 8761注册8762
      defaultZone: http://localhost:8761/eureka/,http://localhost:8763/eureka/
    register-with-eureka: false

spring:
  application:
    name: eureka2-server

  profiles:
    active: eureka2

server:
  port: 8762
