eureka:
  instance:
    hostname: 127.0.0.1

  client:
    service-url:
      #高可用实现方案：eureka之间两两相互注册 8761注册8762
      defaultZone: http://localhost:8762/eureka/,http://localhost:8763/eureka/
    register-with-eureka: false
#    fetch-registry: true
#  server:
#    #开发环境设置false 生产环境设为true 或者直接注释默认就是true
#    enable-self-preservation: false
spring:
  application:
    name: eureka1-server

  profiles:
    active: eureka1

server:
  port: 8761
